<div class="col-4">
  <ul id="<%= task_name%>-list" class="connectedSortable list-group mb-2 p-2 border bg-light text-dark" data-type="<%= task_name%>">
    <h5 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted"><%= task_name.titlecase %> Tasks</span>
    </h5>
    <%- unless tasks.present? %>
      <span class="emptyList">No tasks</span>
    <%- end %>
    <%- tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between lh-condensed mb-2 p-2" data-sequence="<%=task.sequence%>" data-id="<%=task.id%>" data-status="<%= task_name%>">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h6 class="my-0"><%= task.title %></h6>
            </div>
            <div class="col-3">
              <small class="text-muted due_date"><%= task.formatted_date %></small>
            </div>
            <div class="col-3">
              <%= link_to edit_task_path(task) do%>
                <i class="fas fa-edit"></i>
              <%end%>
              <%= link_to task_path(task), method:"delete" do%>
                <i class="fas fa-trash"></i>
              <%end%>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small class="text-muted"><%= task.description %></small>
            </div>
          </div>
        </div>
      </li>
    <%- end %>
  </ul>
</div>